#budjet-calculator-page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

#calculator-page-wrapper {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5); /* Glowing shadow effect */
  align-items: center;
  justify-content: center;
}

/*////////////////////////////////////////////*/
/*             MENU SECTION - START           */
/*////////////////////////////////////////////*/

#menu-section {
  height: 100px;
  background-image: linear-gradient(to bottom right, #000000b4, #00000057);
  margin-bottom: 2px;
  color: white;
  text-shadow: 1px 6px 4px rgba(0, 0, 0, 0.466);
}
/* -------------menu section end --------------*/

#content-wrapper {
  display: flex;
  flex-direction: row;
  margin: auto;
}

/*//////////////////////////////////////////*/
/* ---------  PAYEE SECTION ----------------*/
/*//////////////////////////////////////////*/
#payee-section {
  display: grid;
  width: 80%;
  background-color: #ffffff;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.089); /* Glowing shadow effect */
  position: relative;
  margin-bottom: 100px;
}

#fixed-bills-section-header {
  display: flex;
  text-align: center;
  justify-content: center;
  background-image: linear-gradient(to bottom right, #ff0a0ace, #ff050573);
  border: 1px solid white;
  border-radius: 9px;
  color: white;
  text-transform: uppercase;
  text-shadow: 1px 6px 4px rgba(0, 0, 0, 0.836);
}

#one-time-bills-section-header {
  display: flex;
  text-align: center;
  justify-content: center;
  background-image: linear-gradient(to bottom right, #2cf125, #54ff0557);
  border: 1px solid white;
  border-radius: 9px;
  color: white;
  text-transform: uppercase;
  text-shadow: 1px 6px 4px rgba(0, 0, 0, 0.363);
}

#all-payee-wrapper {
  display: flex;
  overflow: auto;
}

#fixed-bills-section {
  display: grid;
  width: 50%;
  overflow: auto;
  text-shadow: 2px 2px 4px rgba(131, 131, 131, 0.993);
}

#fixed-bills-display {
  height: auto;
}

#one-time-bills-section {
  display: grid;
  width: 50%;
  overflow: auto;
  text-shadow: 2px 2px 4px rgba(131, 131, 131, 0.993);
}

#one-time-bills-display {
  height: auto;
}

/* ------------- Payee section end  -------------*/

/*///////////////////////////////////////////////*/
/* ---------   STATISTIC SECTION ----------------*/
/*///////////////////////////////////////////////*/
#statistics-section {
  flex: 1;
  background-color: #ffffff;
  padding-top: 50px;
  border: 1px solid black;
}
