#budjet-calculator-page {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  justify-content: center;
  align-items: center;
}

#calculator-page-wrapper {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5); /* Glowing shadow effect */
  align-items: center;
  justify-content: center;
}

/*////////////////////////////////////////////*/
/*             MENU SECTION - START           */
/*////////////////////////////////////////////*/

#menu-section {
  display: flex;
  height: 100px;
  background-image: linear-gradient(to bottom right, #6c01f7b4, #6059c4);
  margin-bottom: 2px;
  color: white;
  box-shadow: inset 10px 0 10px -10px rgba(0, 0, 0, 0),
    inset -10px 0 100px -10px rgba(0, 0, 0, 0.616);
  font-size: 26px;
  padding-left: 10px;
  align-items: center;
}
/* _______________________________________________*/

#content-wrapper {
  height: 800px;
  flex-direction: row;
  margin: auto;
}

/*//////////////////////////////////////////*/
/* ---------  PAYEE SECTION ----------------*/
/*//////////////////////////////////////////*/
#payee-section {
  display: flex;
  background-color: #ffffff;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.089); /* Glowing shadow effect */
  position: relative;
  margin-bottom: 100px;
}

#all-payee-wrapper {
  display: flex;
  width: 100%;
  overflow: hidden;
}

#fixed-bills-section {
  flex: 1;
  display: block;
  text-shadow: 2px 2px 4px rgba(131, 131, 131, 0.993);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.295); /* Glowing shadow effect */
  background-image: linear-gradient(to bottom right, #0000002f, #ffffff);
}

#one-time-bills-section {
  flex: 1;
  display: block;
  text-shadow: 2px 2px 4px rgba(131, 131, 131, 0.993);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.295); /* Glowing shadow effect */
  background-image: linear-gradient(to bottom right, #0000002f, #ffffff);
}

#statistics-section {
  flex: 1;
  display: block;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.623); /* Glowing shadow effect */
  background-image: linear-gradient(to bottom right, #4108c563, #00000057);
  height: 800px;
  overflow-y: scroll;
}

#fixed-bills-section-header {
  text-align: center;
  background-image: linear-gradient(to bottom right, #6c01f7b4, #6059c4);
  border-radius: 9px;
  color: white;
  text-transform: uppercase;
  text-shadow: 1px 6px 18px rgba(0, 0, 0, 0.836);
  overflow: hidden;
  box-shadow: inset 10px 0 10px -10px rgba(0, 0, 0, 0.5),
    /* Left side shadow */ inset -10px 0 10px -10px rgba(0, 0, 0, 0.5); /* Right side shadow */
}

#one-time-bills-section-header {
  text-align: center;
  background-image: linear-gradient(to bottom right, #6c01f7b4, #6059c4);
  border-radius: 9px;
  color: white;
  text-transform: uppercase;
  text-shadow: 1px 6px 18px rgba(0, 0, 0, 0.836);
  overflow: hidden;
  box-shadow: inset 10px 0 10px -10px rgba(0, 0, 0, 0.5),
    /* Left side shadow */ inset -10px 0 10px -10px rgba(0, 0, 0, 0.5); /* Right side shadow */
}

#fixed-bills-display {
  height: 750px;
  overflow-y: auto;
}

#one-time-bills-display {
  height: 750px;
  overflow-y: auto;
}
