#payee-box {
  display: flex;
  max-width: 100%;
  flex-direction: row;
  height: 50px;
  align-items: center;
  margin: 10px;
  background-image: linear-gradient(to bottom right, #5810742a, #0203031f);
  border-radius: 15px 0px 15px 0px;
  border: 1px solid rgba(88, 81, 97, 0.281);
  box-shadow: 0 0 2px 2px rgba(39, 39, 39, 0.178);
}

#left-section {
  display: flex;
  align-items: auto;
  width: 70%;
}

#icon {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  background-image: url("/public/icons/credit-card.png"); /* Add background image */
  background-size: cover; /* Cover the entire background with the image */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat;
}

#payee-name {
  overflow: hidden; /* Hide any overflow text */
  text-overflow: ellipsis; /* Display an ellipsis (...) to indicate text overflow */
  margin-left: 15px;
  align-content: center;
  font-size: 18px;
}

#right-section {
  display: flex;
  height: 90%;
  width: auto;
}

#amount-section {
  display: flex;
  align-items: center;
  font-size: 15px;
}

#amount-section input {
  width: 70px;
  margin-right: 15px;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.274);
  text-align: center;
}

#check-box-section {
  display: grid;
  text-align: center;
}

#button-section {
  display: flex;
  height: auto;
  margin-right: 5px;
  align-items: center;
}

#button-section button {
  border-radius: 5px;
  border: 0px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #ffffff00;
  color: #ffffff;
  font-size: 10px;
  border: 1px solid rgba(255, 255, 255, 0.432);
  width: 30px; /* Set the width of the button */
  height: 30px; /* Set the height of the button */
  background-size: contain; /* Ensure the image fits inside the button */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  box-shadow: 0 0 5px 5px rgba(39, 39, 39, 0.178);
}

#button-section button:hover {
  opacity: 0.8;
  background-color: #7f4fa7c2;
}

#edit-button {
  background-image: url("/public/icons/edit.jpg");
  margin-right: 5px;
}

#delete-button {
  background-image: url("/public/icons/delete.png");
}
